<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">修改學生</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          學生資料
        </div>
        <%= form_for @student, url: students_path(@student), method: :patch do |f| %>
          <%= render "students/edit", f: f %>
        <% end %>
        <div class="row">
            <%= link_to "確定", "", class: "btn btn-lg btn-success btn-block", onclick: "$('form').submit();return false" %>
            <div class="text-center"> 
              <%= render 'layouts/messages' %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



