
<div id="page-wrapper">
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    LINE 認證
                </div>
            <div class="panel-body">
                <h1>認証完了</h1>

                <h2>送信メッセージ</h2>
                <%= form_tag('/oauth/send_message') do %>
                    <%= text_area :page, :message, :size => "20x10" %>
                    <br />
                    <%= submit_tag('送信') %>
                <% end %>
            </div>

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
