<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="panel-info">
        <div class="panel-heading">
            請選擇上課時間
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>         
        </div>
        <div class="panel-body" style="min-height: 300px">
            <%= render 'event', event: @event %>
        </div>
        <input type="hidden" name="event[start_time]" id="event_start_time">
        <input type="hidden" name="event[end_time]" id="event_end_time">
        <input type="hidden" name="event[color]" id="event_color">
        <div class="panel-footer">
            <button id="buttonAdd" data-actiontype="edit" type="button" class="btn btn-success">確定</button>
            <button id="buttonCancel" type="button" class="btn btn-warning">取消</button>
        </div>
    </div>
</div>
