<div class="row">
    <div class="col-md-2"><h4>日期</h4></div>
    <div class="col-md-5">
    <div class="form-group">
        <input type='text' class="form-control start_date" readonly/>
    </div>
    </div>
</div>
<div class="row">
    <div class='col-md-2'>
        <h4>開始</h4>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
                <input type='text' class="form-control start" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>  
        </div>
    </div>
</div>
<div class="row">
    <div class='col-md-2'>
        <h4>結束</h4>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control end" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>  
        </div>        
    </div>           
</div>
<div class="row">
    <div class='col-md-2'>
        <h4>識別</h4>
    </div>
    <div class='col-md-5'>
        <div class="form-group" style="padding-top:2px">
        <select id="colorselector">
            <option value="1" data-color="#FF0000" selected="selected">red</option>
            <option value="2" data-color="#FF8C00">darkorange</option>
            <option value="5" data-color="#FFD700">gold</option>
            <option value="3" data-color="#32CD32">limegreen</option>
            <option value="4" data-color="#6495ED">cornflowerblue</option>
        </select>
        <input type="text" id="colorValue" class="hidden"/>
        <input type="text" id="colorColor" class="hidden" />
        <input type="text" id="colorTitle" class="hidden" />
        </div>        
    </div>           
</div>