<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">出勤打卡</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    出勤打卡
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <%= form_for @attendance, url: attendances_path do |f| %>
                        <fieldset>
                            <div class="form-group input-group">
                                <input type="text" class="form-control" name="card_id">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">打卡</button>
                                </span>
                            </div>
                        </fieldset>
                    <% end %>
                    <div class="text-center">
                      <%= render 'layouts/messages' %>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>